<nav class="header-white">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><p class="fancyScript">denver.cloud</p></a>
  </div>
</nav>

<div class="valign-wrapper denver">
  <div class="row loginForm">
    <form>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate">
          <label for="password">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate">
          <label for="password">Puff-Puff-Password</label>
        </div>
      </div>
      <a href="#/loggedin" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Log In</a>
    </form>
  </div>
</div>
